.calendar-title-bar{
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.calendar-title-bar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.month-details {
}

ul.month-details li{
  padding-top: 0px;
  line-height: 60px;
  font-family: 'Myriad Pro Light', "Myriad Pro", sans-serif;
  font-size: 30px;
}

ul.month-details li:nth-child(2){
  margin-left: 10px;
}

li.fina{
  font-weight: 300;
}

li.bold{
  font-weight: 400;
}

.month-name{
  float: left;
}

.year-name{
  float: left;
}

ul.day-changers{
  margin-right: 20px;
}

li.day-changer{
  float: left;
  margin-top: 10px;
}

li.day-changer button{
  font-size: 13px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 13px;
    margin:0;
    padding: 0;
    text-decoration: none;
    color: initial;
}
