#event-form-window{
  display: none;
  position: absolute;
  margin-top: 300px;
  margin-left: 500px;
  background-color: rgb(237,238,239);
  border: 2px solid rgb(187,186,187);
}

#event-form{
  padding: 2px;
  font-size: 12px;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#event-title{
  margin-left: 2px;
  font-size: 20px;
}

#event-location{
  margin-bottom: 5px;
  margin-left: 2px;
}

option{
  padding: 0;
  margin: 0;
}
.calendar-body{
  display: flex;
  width: 100%;
}

table.calendar{
  display: table;
  width: 100%;
  text-align: right;
}

.light-font{
  color: rgb(170,170,170);
}

td{
  border: 1px solid rgb(187,186,187);
  height: 150px;
  max-width: 100px;
  min-width: 100px;
  margin: 0;
  vertical-align: top;
}

td.weekend{
  background-color: rgb(245,245,245)
}
td.weekday{
  background-color: rgb()
}
