.nav-left-buttons{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-left-buttons, li.cls-btn{
  float: left;
  padding: 5px 3px;
}

.nav-left-buttons, li.cal-btn{
  float: left;
  padding: 3px 3px;
}

.nav-left-buttons, li{
  float: left;
}

.close-buttons{
  list-style-type: none;
}

.red-close{
  display: block;
  background-color: rgb(245,74,64);
}
.green-close{
  display: block;
  background-color: rgb(31,198,67);
}
.yellow-close{
  display: block;
  background-color: rgb(245,153,54);
}

.close-button{
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid rgb(187,186,187);
  border-radius: 7px;
}

.cls-btn{
  padding: 5px;
  margin-top: 2px;
}

#navbar{
  height: 40px;
  width: 100%;
  border: 1px solid rgb(187,186,187);
  background-color: rgb(222,220,222);
}

#plus-btn-nav{
  margin-top: 1px;
  width: 27px;
  height: 25px;
}

#cal-btn-nav{
  width: 100px;
  height: 25px;
  margin-top: 2px; 
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 5px;
}
